.layout {
    width: 100%;
    min-width: 375px;
    height: 100vh;
    overflow: hidden;
}

.layoutMainContent {
    margin-top: 80px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
}