:root {
    --bs-blue: #000038;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #EA1212;
    --bs-orange: #EA6A12;
    --bs-yellow: #eac812;
    --bs-green: #3BB77E;
    --bs-teal: #20c997;
    --bs-cyan: #12CDEA;
    --bs-white: #fff;
    --bs-gray: #959895;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #959895;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #0e0b0b;
    --bs-primary: #EA6A12;
    --bs-secondary: #959895;
    --bs-success: #3BB77E;
    --bs-info: #12CDEA;
    --bs-warning: #EAB012;
    --bs-danger: #EA1212;
    --bs-light: #dee2e6;
    --bs-dark: #212529;
    --bs-primary-rgb: 234, 106, 18;
    --bs-secondary-rgb: 149, 152, 149;
    --bs-success-rgb: 59, 183, 126;
    --bs-info-rgb: 18, 205, 234;
    --bs-warning-rgb: 234, 176, 18;
    --bs-danger-rgb: 234, 18, 18;
    --bs-light-rgb: 222, 226, 230;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-rgb: 149, 152, 149;
    --bs-font-sans-serif: "Poppins", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.75;
    --bs-body-color: #959895;
    --bs-body-letter-spacing: .02em;
    --bs-body-bg: #faf9f5;

    --white: #fff;
    --lighter-grey: #EAEAEA;
    --light-grey: #9ea2aa;
    --grey: #6B6F77;
    --darked: #1c1c1c;
    --dark-grey: #343740;
    --darked-grey: #35373F;

    --danger: #A92926;
    --danger-alpha-08: rgba(169, 41, 38, 0.08);
    --hover-danger: rgba(231, 43, 66, 0.86);

    --success: #33a926;
    --hover-success: #1e7b1e;

    --warning: #ff8c00;
    --hover-warning: #ffb700;

    --info: #47b1db;

    --primary: #195b6c;
    --darked-primary: #162547;

    --bg-light-grey: #eaeaea;
    --bg-lighter-grey: #fafafa;

    --border-light-grey: #e7e7e7;

    --white-alpha-6: rgba(255, 255, 255, .6);
    --white-alpha-8: rgba(255, 255, 255, 0.8);

    --black-alpha-6: rgba(0, 0, 0, .6);
    --black-alpha-8: rgba(0, 0, 0, .8);
    --black-alpha-06: rgba(0, 0, 0, .06);
    --black-alpha-4: rgba(0, 0, 0, .4);
    --black-alpha-3: rgba(0, 0, 0, .3);
    --black-alpha-08: rgba(0, 0, 0, .08);
    --black-alpha-05: rgba(0, 0, 0, 0.05);

    --red: #DC001A;
    --hover-red: #F2475B;
    --dark-white: #DDDDDD;
    --lighter-grey-2: #C7CAD1;
    --text-grey: #44474E;
    --link: #0076EA;
    --link-hover: #0360bb;
    --white-alpha-9: rgba(255, 255, 255, 0.9);
    --white-alpha-08: rgba(255, 255, 255, 0.08);
    --black-alpha-02: rgba(0, 0, 0, 0.02);
    --grey-alpha-3: rgba(255, 255, 255, 0.3);
    --red-alpha-3: rgba(220, 0, 26, 0.3);

    --h6-size: 19px;
    --h5-size: 23px;
    --h4-size: 28px;
    --h3-size: 33px;
    --h2-size: 40px;
    --h1-size: 48px;
    --h6-line: 28px;
    --h5-line: 30px;
    --h4-line: 36px;
    --h3-line: 40px;
    --h2-line: 54px;
    --h1-line: 60px;
}

body {
    margin: 0;
    font-family: -apple-system, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    outline: none !important;
    box-sizing: border-box;
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--danger);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--danger);
}

